body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #c31432;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a:hover,
a:active {
  outline: none;
}
.navbar{
  background: rgba(255,255,255,.5) !important;
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
a.drum-pad {
  color: rgba(255, 255, 255, .8) !important;
  background-color: rgba(255, 255, 255, .4) !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  font-size: 22px !important;
  height: 150px;
  width: 150px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
}
a.drum-pad:hover {
  background-color: rgba(255, 255, 255, .8) !important;
  color: rgba(0,0,0) !important;
  text-decoration: none;
}
a.drum-pad:focus {
  background-color: rgba(255, 255, 255, .8) !important;
  color: rgba(0,0,0) !important;
  text-decoration: none;
}

.btn-light {
  color: rgba(255, 255, 255, .8) !important;
  background-color: rgba(255, 255, 255, .4) !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  font-size: 22px !important;
  height: 150px;
  width: 150px;
}

#drum-machine {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.btn:focus {
  outline: none;
}